<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>Div line test</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="./dayDiv_test.css" rel="stylesheet">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="./dayDiv_test.js"></script>
</head>

<body>
<h1> Test </h1>
<div class="container fullheight">
<!--
<div class="dayNavBar">
	<button class="dayButton"> Day1 </button>
	<button class="dayButton"> Day2 </button>
	<button class="dayButton"> Day3 </button>
</div>
-->
<div class="dayNav">
<div class="dayNavBar" id="dayNavBarDiv">
<ul class="nav nav-tabs fullheight fullwidth" id="dayNavBarList">
  <li class="nav-item navigate-prev" id="moveLeft">
	<a class="nav-link" href="#"><<</a>
  </li>
  <li class="nav-item" id="openDay1">
    <a class="nav-link" href="#">Day 1</a>
  </li>
  <li class="nav-item" id="openDay2">
    <a class="nav-link" href="#">Day 2</a>
  </li>
  <li class="nav-item" id="openDay3">
    <a class="nav-link" href="#">Day 3</a>
  </li>
  <li class="nav-item" id="openDay4">
    <a class="nav-link" href="#">Day 4</a>
  </li>
  <li class="nav-item" id="openDay5">
    <a class="nav-link" href="#">Day 5</a>
  </li>
  <li class="nav-item" id="openDay6">
    <a class="nav-link" href="#">Day 6</a>
  </li>
 <li class="nav-item" id="openDay7">
    <a class="nav-link" href="#">Day 7</a>
  </li>
  <li class="nav-item" id="openDay8">
    <a class="nav-link" href="#">Day 8</a>
  </li>
 <li class="nav-item" id="openDay9">
    <a class="nav-link" href="#">Day 9</a>
  </li>
  <li class="nav-item" id="openDay10">
    <a class="nav-link" href="#">Day 10</a>
  </li>
 <li class="nav-item" id="openDay11">
    <a class="nav-link" href="#">Day 11</a>
  </li>
  <li class="nav-item" id="openDay12">
    <a class="nav-link" href="#">Day 12</a>
  </li>
  <li class="nav-item" id="openDay13">
    <a class="nav-link" href="#">Day 13</a>
  </li>
  <li class="nav-item navigate-next" id="moveRight">
	<a class="nav-link" href="#">>></a>
  </li>
</ul>
</div> 
</div>
</div>
</body>

</html>