body, html {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  overflow: hidden;
}
.container-height {
	height: 100%;
}
.title-height {
	height: 130px;
	min-height: 130px;
	max-height: 130px;
}
.flex-row {
	flex: 1;
	flex-grow: 1;
}
.flex-col {
	flex: 1;
	flex-grow: 1;
}
.content-area {
	height: 100%;
}

.sidebar {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
}

.color-blue {
	background-color: #72bbe1; 
}

.color-green {
	background-color: #33ff44; 
}

.color-red {
	background-color: #ff7755; 
}

.color-yellow {
	background-color: #ffff00; 
}

.color-white {
	background-color: #ffffff; 
}

