body, html {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  overflow: hidden;
}

.image-menu-item {
	height: 100%;
	width: 100%;
}
.top-container {
	height: 100%;
	padding-left : 0px;
	padding-right: 0px;
}


.navdiv {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.menudiv {
	min-width: 100%;
	min-height: 32px;
	padding-left: 15px;
	padding-right: 20px;
	background-color: #ffffff;
	border: 1px;
	border-color: black;
	border-size: 2px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuitem {
  display: inline;
  float: left;
}
.menuitem-float-right{
  display: inline;
  float: right;
}
.menulink {
  text-decoration: none;
  padding: 8px;
  color: white;
  text-align: center;
}
.menulink:hover {
  text-decoration: none;
  color: white;
  background-color: #005577;
}

.vertical-spacer-div {
	min-width: 100%;
	min-height: 32px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.full-height {
	height: 100%;
}
.title-height {
	height: 180px;
	min-height: 180px;
	max-height: 180px;
}
.flex-row {
	flex: 1;
	flex-grow: 1;
}
.flex-col {
	flex: 1;
	flex-grow: 1;
}
.content-area {
	height: 100%;
}

.sidebar-left {
	max-width: 115px;
	min-width: 115px;
	padding-left: 15px;
	padding-right: 0px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.sidebar-right {
    -ms-flex: 0 0 80px;
    flex: 0 1 80px;
}

.color-blue {
	background-color: #227799; 
}

.color-green {
	background-color: #33ff44; 
}

.color-red {
	background-color: #ff7755; 
}

.color-yellow {
	background-color: #ffff00; 
}

.color-white {
	background-color: #ffffff; 
}

.color-black {
	background-color: #000000; 
}

.image-container {
	min-width: 64px;
	min-height: 64px;
	max-height: 64px;
	max-height: 64px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.image-container:hover {
	background-color: #005577;
}

.nav-link {
	flex: flex;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
}