<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>Itinerary Planner</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<!-- CMNT Custom style sheet section BEGIN -->
	<link href="../layouts/layout.css" rel="stylesheet">
	<!-- CMNT Custom style sheet section END -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<div class="container-fluid top-container">
	<div class="row title-height">
		<div class="container-fluid title-height color-blue">
			<div class="row">
			<div class="logo-container"> 
				<img class="image-logo-item" src="../icons/transparent-logo2.png" />
			</div>
			<div class="col" style="margin: auto; color:white;">
				<h1 class="display-1">Jurni</h1>
			</div>
			</div>
		</div>
	</div>
	<div class="container menudiv">
		<div class="row fullheight">
			<a class="menulink" href="#">
			<div class="col text-menu-item-container">Home</div></a>
			<a class="menulink" href="#">
			<div class="col text-menu-item-container">News</div></a>
			<a class="menulink" href="#">
			<div class="col text-menu-item-container">Contact</div></a>
			<a class="menulink ml-auto" href="#">
			<div class="col">About</div></a>
		</div>
	</div>
	<div class="row content-area">
		<div class="col color-blue sidebar-left">
			<div class="container navdiv" id="navigation-bar">
				<!-- <nav class="fullheight"> -->
					<a class="nav-link" href="#">
						<div class="image-container">
							<img class="image-menu-item" src="../icons/create_itinerary.png" />
						</div>
					</a>
					<!-- <div class="vertical-spacer-div"></div> -->
					<a class="nav-link" href="#">
						<div class="image-container">
							<img class="image-menu-item" src="../icons/view_feed.png" />
						</div>
					</a>
					<!-- <div class="vertical-spacer-div"></div> -->	
					<a class="nav-link" href="#">
						<div class="image-container">
							<img class="image-menu-item" src="../icons/Friends.png" />
						</div>
					</a>
					<!-- <div class="vertical-spacer-div"></div> -->	
					<a class="nav-link" href="#">
						<div class="image-container">
							<img class="image-menu-item" src="../icons/Friends.png" />
						</div>
					</a>
					<!-- <div class="vertical-spacer-div"></div> -->	
					<a class="nav-link" href="#">
						<div class="image-container">
							<img class="image-menu-item" src="../icons/Friends.png" />
						</div>
					</a>
					<!-- <div class="vertical-spacer-div"></div> -->	
				<!-- </nav> -->
			</div>
		</div>
		<div class="col color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

	</div>
</div>

</body>


</html>